*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    padding: 8.5px 120px;
}
.header nav img{
    width: 139px;
    height: 60px;
    /* border: 2px solid black; */
}
.header nav ul {
    display: flex;
    gap:16px;
    list-style-type: none;
    font-weight: 600;
}

.header nav a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.btn{
    background-color: #469165;
    color:white;
    padding: 12px 16px;
    border:none;
    border-radius: 5px;
}
