*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    padding: 8.5px 120px;
}
.header nav img{
    width: 139px;
    height: 60px;
    /* border: 2px solid black; */
}
.header nav ul {
    display: flex;
    gap:16px;
    list-style-type: none;
    font-weight: 600;
}

.header nav a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.btn{
    background-color: #469165;
    color:white;
    padding: 12px 16px;
    border:none;
    border-radius: 5px;
}
#banner{
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid black;
   background-image: url(../assets/hero-bg.png);
   background-position: center;
}
#banner .banner-box{
   width: 85%;
   max-width: 1360px;
   /* border: 2px solid black; */
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.banner-box .banner-button{
   padding: 8px 12px;
   color: #469165;
   background-color: white;
   display: flex;
   align-items: center;
   border-radius: 20px;
   margin-bottom: 16px;
   width: fit-content;
   gap: 10px;
}
.banner-box h1{
   font-size: 72px;
   line-height: 84px;
   color: white;
   text-align: center;
   max-width: 770px;
}
.banner-box h1 span{
   color:#469165
}
.banner-box p{
   color:white;
   line-height: 24px;
   margin: 20px 0;
   max-width: 770px;
}
.banner-button-section{
    margin-right: 16px;
    display: flex;
    gap: 16px; 
}
.banner-button-section .btn-1{
   padding: 16px;
   background-color: #469165;
   color: white;
   border: none;
   /* border: 2px solid black; */
   border-radius: 5px;
   display: flex;
   align-items: center;
   gap: 10px;
}
.banner-button-section .btn-2{
   padding: 16px;
   background-color: transparent;
   color: white;
   border: 2px solid white;
   border-radius: 5px;
}

#card-section .card-section-container{
  width: 85%;
  max-width: 1360px;
  /* border: 2px solid black; */
  margin: 0 auto;
  padding:44px 0;
}
.card-section-container .card-container-heading{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   
}
.card-section-container h1{
   color: #001931;
   font-size: 48px;
   margin-bottom: 16px;
}
.card-container-heading p{
   color:#627382;
   line-height: 20px;
}
.card-containers{
    display: flex;
    padding-top: 44px;
}
.card-containers .card{
   padding: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   box-shadow: 10px 10px 15px rgb(241, 241, 241);
   gap: 24px;
   text-align: center;
}
.card-containers .card:hover{
   box-shadow: 0px 0px 15px rgb(198, 197, 197);
   cursor: pointer;
}
.card img{
   background-color: #F95555;
   padding: 14px;
   border-radius: 50%;
}
.card h3{
   color: #001931;
   font-weight: 600;
   font-size: 26px;
}
.card p{
  color:#627382;
  font-size: 14px;
  line-height: 20px;
}


